/*Resume*/
nav #Menu{
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
}
/*Add a line separating everything under my name and create the text more centralized(centered)
Also add projects from before as links.
side note: add physical buttons for external websites like github and instagram and Linkeded
*/
h1,h2,h3,h4,h5,h6,p,li {
    text-align:center;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

nav #Menulist {
    font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
    margin: 20px;
    padding: .5px;
    overflow: hidden;
    background-color: #EDDE5D;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
}
.list {
     float: left;
     margin: 5%;
 }
#Menulist a {
    display: block;
    color: steelblue;
    text-align: center;
    padding: .50%;
    width: max-content;
    text-decoration: none;
}
.list a:hover {
    background-color: #EDDE5D;
    font-size: large;
}
body {
    background-image:
            linear-gradient(to left top, #FF512F, #F09819);
    color: #16222a;
    font-family: 'Josefin Sans', sans-serif
    text-align: center;

}

/*Photography*/


/*Pcrepair*/
