#wrapper {
    width: 960px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #DCDCDC;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #383838;
}

nav {
    background-color: #686868;
}

nav#Menu ul {
    list-style-type: none;
    padding-top: 15px;
    margin: 0;
    overflow: hidden;
}

nav#Menu ul li {
    display: inline-table;
    margin: 0 15px;
}

nav#Menu ul li a {
    display: block;
    background-color: #686868;
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 100px;
    padding: 10px 0px 30px 0px;
    border-radius: 4px;
}

nav#Menu ul li a:hover {
    background-color: #585858;
}

p a {
    color: #0099CC;
    text-decoration: none;
}

p a:hover {
    color: #0033CC;
}

ul {
    list-style-type: none;
}